@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
}
.menu {
    max-width: 1000px;
    margin: 0 auto;    
}
.header {
    background-image: linear-gradient(
    rgba(0,0,0.7)
    rgba(0,0,0.7));   
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-color: #1e2021;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #c12020;
    font-size: 25px;
    font-weight: 500;   
}
.menu .navbar ul li {
    position: relative;
    float: left;
}    
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #92b91d;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover {
    color: #d32642;
}
#menu{
    display: none;
}
.menu-icono {
    width: 100px;
}
.menu-label {
    cursor: pointer;
    display: none;
}
.header-content {
    text-align: center;
    padding: 320px;
    background-image: url(Ciudad.jpg);
    
}
.header-content h1 {
    text-align: center;
    font-size: 55px;
    line-height: 80px;
    color: #efedeb;
    text-transform: uppercase;
    margin-bottom: 15px
}
.header-content p {
    font-size: 16px;
    color: #9ea3a1;
    padding: 0 250px;
    margin-bottom: 25px;    
}
.btn-1 {
    display: inline-block;
    padding: 11px 45px;
    background-color: #0b5ad8;
    color: #e2e5ea;
    text-transform: uppercase;
    border: 10px;
    font-size: 18px;    
}
.btn-1:hover {
    background-color: #ea85ea;
}
.coffee{
    padding: 50px 10px;
    background-color: #e4f1cc;
    position: relative;
}
.coffee-content {
    text-align: center;
    padding: 10px 0;
}
.coffee-content h2{
    font-size: 45px;
    line-height: 40px;
    color: black;
    text-transform: uppercase;
    padding: 0 350px;
    margin-bottom: 15px;
}
.txt-p {
    font-size: 16px;
    color: #3bb433;
    padding: 0 250px;
    margin-bottom: 35px;
}
.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.coffee-1 img {
    width: 200px;
   
}
.coffee-img {
    position: absolute;
    top: 0;
    right: 0;    
}
.coffee-1 h3 {
    color: rgb(16, 10, 2);
    font-size: 20px;
    margin-bottom: 15px;
}
.services {
    background-image: linear-gradient(
    rgba(0, 0, 0.7)
    rgba(0, 0, 0.7));
    background-image: url(Globo1.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 80px;
    margin left: 10px;
    
    
}
.services-content {
    text-align: center;
}
.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #FFFDFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.services-content p {
    font-size: 16px;
    color: rgb(8, 8, 8);
    margin-bottom: 10px;
    padding: 0 100px;
}
.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;    
}
.services-1 {   
    
    padding:  10px;
}
.services-1 img {
    width: 150px;
    margin-bottom: 35px;
}
.services-1 h3 {
    color: #520bc4;
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 0 5px;
    margin-bottom: 15px;

}
.general {
    display: flex;
}
.general-1 {
    width: 75%;
    padding: 100px 250px 100px 100px;
    background-color: rgb(221, 200, 222);
}
.general-2 {
    background-image: url(bg-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;    
}
.general-3 {
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;    
}
h2{
    font-size: 45px;
    line-height: 70px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
}
p {
    font-size: 16px;
    color: rgb(9, 9, 9);
    margin: 25px 0 45px 0;
}
.blog-content {
    display: flex;
    justify-content: space-between;
}
.blog {
    padding: 10px 0;
    text-align: center;
}
.blog content {
    display: flex;
    justify-content: space-between;
}
.blog-1{
    padding: 15px 55px;
}
.blog-1 img {
    width: 75px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.blog-1 h3 {
    font-size: 25px;
    color: #d32642;
}
.footer {
    padding: 20px;
    background-color: black;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.link h3 {
    font-size: 18px;
    font-size: 14px;
    color: #e2e5ea;
}
.link a {
    font-size: 16px;
    color: #FFFDFC;
    display: block;
    margin-bottom: 15px;   
}
.btn-1{
    background: #039be5;
    color: #ffffff;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.btn-1::after, .btn-1::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #039be5;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
    
}

.btn-1:hover{
    transform: translate(-12px, -12px);
}

.btn-1:hover::after{
    transform: translate(6px, 6px);
}

.btn-1:hover::before{
    transform: translate(12px, 12px);
}
.enter{
    font-size: 15px;
    color: #e2e5ea;
}



